<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Firm Application already set</title>
</head>
<body>
    <div>
        <h1 class="text-danger">Error.</h1>
        <h2 class="text-danger">You have already set an application to Firm. You are only allowed one firm application.</h2>
        <p>If you want to change your firm application, find your existing firm application and make sure firm is set to False before saving.
        Now you can set any application to firm which was an university of "U" or "C"</p>

    </div>
</body>
</html>
